p, h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', 'Nanum Gothic', sans-serif;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
    overflow-x: hidden;
}

$breakpoint-tablet: 768px;
$aColor: #FFFFFF;
$footerTextColor: white;

.portfolio-img::-webkit-scrollbar {
    height: 0.3125rem;
}

.portfolio-img::-webkit-scrollbar-thumb {
    background-color: #2a2424;
    border: solid 0.0625rem #e1ddd6;
}

.portfolio-img::-webkit-scrollbar-track {
    background-color: #c8c2bd;
    border: solid 0.125rem #e1ddd6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#logo {
    font-size: 20px;
    font-style: none;
    color: white;
    margin: auto 10px auto 25px;
    text-decoration: none;
}

.title{
    padding-bottom: 15px;

}

.navigation{
    background-color: rgb(51, 85, 139);
    font-family: 'Oswald', 'Nanum Gothic', sans-serif;
}

.nav-anchor, .nav-anchor:hover, .nav-anchor:link, .nav-anchor:visited {
    color: $aColor;
    text-decoration: none;
}

.nav-div{
    position: relative;
    height: 3.5rem;
    display: flex;
}

@media (max-width: $breakpoint-tablet) {
    .nav-div{
        justify-content: space-between;
    }
}

.nav-div ul {
    display: flex;
    margin: auto 0 auto 0;
}

@media (max-width: $breakpoint-tablet) {
    .nav-div ul{
        display: none;
    }
}

.nav-li{
    margin: 0 5px 0 5px;
}

.nav-btn{
    display: none;
    margin-right:25px;
}

@media (max-width: $breakpoint-tablet) {
  .nav-btn{
    display: block;
    background-color: transparent;
    color:white;
    border:0;
  }
}

.side-nav{
    display:flex;
    visibility: hidden;
    flex-direction: column;
    position: fixed;
    height: 100%;
    min-width: 15rem;
    max-width: 20rem;
    right: 0px;
    opacity: 0;
    background-color:rgb(51, 85, 139);
    z-index: 12;
    transform: translateX(100%);
    transition: transform 300ms, opacity 300ms linear;
    .side-nav-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: solid 2px #444444;
        height: 3.5rem;
        margin-bottom: 5px;
    }
    button{
        margin: auto 15px auto;
        background-color: transparent;
        border: none;
        color: white;
    }
    li{
        margin-top: 1px;
        padding: 15px;
        background-color:rgb(46, 74, 120);
    }
}

.side-nav-active{
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
}

.about{
    display: flex;
    flex-wrap: wrap;
    min-height: 40rem;
    padding: 0px 125px;
    margin-top: 49px;
    margin-bottom: 49px;
}

.about-img{
    display: block;
    opacity: 0;
    &.right{     
        animation: about-img 8s;
        animation-fill-mode: forwards;
    }
    &.left{
        animation: about-img-rev 8s;
        animation-fill-mode: forwards;
    }
}

@keyframes about-img {
    0% {
        transform: translateX(25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes about-img-rev {
    0% {
        transform: translateX(-25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.comment-container{
    min-height: 12rem;
}

.slide-container{
    min-height: 45rem;
    display:flex;
}

.slide-btn{
    margin: auto 5px;
    position: absolute;
    z-index: 10;
    border: 0px;  
    background-color: transparent;
}

.slide{
    width: 100%;
    animation: sliding 0.5s;
    animation-fill-mode: forwards;
}

@keyframes sliding {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


.arrow {
    position: absolute;
    top: 240px;
    z-index: 5;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid rgb(22, 22, 22);
	border-right: 1vmin solid rgb(20, 20, 20);
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
	
	&.left {
		left: 5%;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}

	&.right {
		right: 5%;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}
	
	&:hover {
		border-color: rgb(175, 175, 175);
		box-shadow: 0.5vmin -0.5vmin 0 rgb(46, 46, 46);
	}
	
	&:before { // for better hit area
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
	}
}

.container{
    display: flex;
    flex-direction :column;
    font-family: "Oswald";
    min-height: 20rem;
}

@media only screen and (max-width: 1080px){
    .container {
        padding: 0px 75px;
    }
}

@media only screen and (max-width: 768px){
    .container {
        padding: 0px 50px;
    }
}



.portfolio{
    padding-left: 16%;
    padding-bottom: 150px;
    
    .portfolio-img{
        display: flex;
        overflow-x: scroll;
        padding-bottom: 50px;
        div{
            padding: 0 10px;
        }
    }
    img{
        height: 250px;
        width: 400px;
    }
}


@media only screen and (max-width: 768px){
    .portfolio {
        padding: 0px;
    }
}


.footer{
    display:flex;
    justify-content: center;
    height: 20rem;
    background-color: rgb(32, 32, 32);
    color: $footerTextColor;
}

.footer-div{
    width: 33%;
    margin-top: 25px;
    hr{
        background-color: $footerTextColor;
    }
    a, a:hover, a:visited, a:link{
        color: $footerTextColor;
        text-decoration: none;
    }
}

.pTitle{
    font-size: 1.7vw;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

h3 {
    font-size: 1.7vw;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    /* 라인수 */ 
    -webkit-box-orient: vertical; 
    word-wrap:break-word; 
    line-height: 1.2em; 
    max-height: 3.6em;
    /* 여러 줄 자르기 추가 스타일 */ 

}

@media ( max-width: 1023px ) {
    .pTitle, h3{
        font-size: 2.5vw;
      
    }
}
@media ( max-width: 767px ) {
    .pTitle, h3{
        font-size: 4vw;

    }
}


@media ( max-width: 1023px ) {
    .badge {
        font-size: 75%;
      
    }
}
@media ( max-width: 767px ) {
    .badge {
        font-size: 60%;

    }
}

.vsDiv {
    height: 300px!important;
}

@media ( max-width: 1023px ) {
    .vsDiv {
        height: 250px!important
      
    }
}
@media ( max-width: 767px ) {
    .vsDiv {
        height: 200px!important;
    }
}


@media ( max-width: 1023px ) {
    .vsDiv > h1 {
        font-size: 5vw
      
    }
}
@media ( max-width: 767px ) {
    .vsDiv > h1 {
        font-size: 6vw;
    }
}

.whenHover1:hover{
    background-color:rgba(0, 0, 0, 0.9);
}

.whenHover2:hover{
    background-color: rgb(225, 175, 174)!important;
    
}

.whenHover3:hover{
    background-color: rgb(117, 142, 184)!important;
}

.pTitle > a{
    text-decoration: none;
    color:inherit;
}
